
.divClimaData
{
    background-color:#f4f4f4;
    color:#fff;
    width: calc(100% - 40px);
    height: 100px;
    line-height: 28px;
    border-radius: 5px;
    margin: 0;
    padding: 20px;
    cursor: pointer;
}

.titleLocation
{
    white-space: nowrap;
    text-transform: uppercase;
}

.divExtraInfo
{
    width: 40%;
    display: inline-block;
}

.divTemp
{
    width: 60%;
    display: inline-block;
}

.temp
{
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    color:red;
}

.grados
{
    font-weight: bold;
    color: yellowgreen;
}

.wicon
{
    color:yellowgreen;
}

.humedad
{
    display: block;
    color:#036;
    font-size: 30px;
}

.viento
{
    display: block;
    color:#036;
    font-size: 30px;
}