.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red
{
  background-color: red;
}

.green
{
  background-color: green;
}

.blue
{
  background-color: blue;
}

.detail
{
  height: 85vh;
  width: calc(100%-40px);
  background-color: #555;
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width:64em){
  .detail
  {
    height: 40vh;
  }
}